{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': ''}}) }}

<div style="display: none;">
    {{ form_row(form.daterec) }}
    
</div>
<div style="display: none;">
    {{ form_row(form.categorierec) }}
    </div>
     <div style="display: none;">
    {{ form_row(form.descrirec) }}
    
</div>
<div class="form-group">
  <label >Nom et Prenom : </label>
  <dd class="col-sm-9">{{ reclamation.idU.nomUser }} {{ reclamation.idU.prenomUser }} </dd>
  
</div>

<div class="form-group">
  <label > Catégorie : </label>
  <dd class="col-sm-9">{{ reclamation.categorierec  }}  </dd>
  </div>

<div class="form-group">
  <label > Description : </label>
  <dd class="col-sm-9">{{ reclamation.descrirec }}  </dd>
  </div>
 
 <div class="form-group">
  <label > Date du Reclamation : </label>
  <dd class="col-sm-9">{{ reclamation.daterec ? reclamation.daterec|date('Y-m-d') : '' }}  </dd>
  </div>



<div class="form-group">
    {{ form_label(form.statutrec, 'Statut', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.statutrec, {'attr': {'class': 'form-control'}}) }}
    <div class="error-message">
        {{ form_errors(form.statutrec) }} {# Affiche les erreurs de validation pour le statut #}
    </div>
</div>

<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}