{% extends 'base2.html.twig' %}

{% block title %}Index des réclamations{% endblock %}

{% block body %}

    <h1>Liste des réclamations archivées</h1>
   <div class="tri-dropdown">
    <select onchange="handleChange(this)">
        <option value="">Trier par...</option>
        <option value="date_asc">Date Ascendant</option>
        <option value="date_desc">Date Descendant</option>
        <option value="categorie_asc">Catégorie Ascendant</option>
        <option value="categorie_desc">Catégorie Descendant</option>
        <option value="statut_asc">Statut Ascendant</option>
        <option value="statut_desc">Statut Descendant</option>
    </select>
</div>
<div class="input-group">
                            <input type="text" class="form-control" id="searchInput" placeholder="Search...">
                        </div>
                        <div id="searchResults"> 
<div id= "tabv">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Catégorie</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for reclamation in reclamations %}
                <tr>
                    <td>{{ reclamation.idU.prenomUser }}</td>
                    <td>{{ reclamation.idU.nomUser }}</td>
                    <td>{{ reclamation.descrirec }}</td>
                    <td>{{ reclamation.daterec ? reclamation.daterec|date('Y-m-d') : '' }}</td>
                    <td>{{ reclamation.categorierec }}</td>
                    <td>
                        {% if reclamation.statutrec == 'En Cours' %}
                            <span class="badge badge-warning">{{ reclamation.statutrec }}</span>
                        {% elseif reclamation.statutrec == 'Fermée' %}
                            <span class="badge badge-danger">{{ reclamation.statutrec }}</span>
                        {% elseif reclamation.statutrec == 'Resolue' %}
                            <span class="badge badge-success">{{ reclamation.statutrec }}</span>
                        {% endif %}
                    </td>
                    
                    <td>
                        <a href="{{ path('app_reclamation_showBack', {'idrec': reclamation.idrec}) }}">voir</a>
                        <a href="{{ path('app_reclamation_editBack', {'idrec': reclamation.idrec}) }}">modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        
            </tbody>
            
        </table>
        
    </div>
    </div>
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item {% if knp_pagination.currentPageNumber == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path('app_reclamation_archivees', {'page': knp_pagination.currentPageNumber - 1 }) }}" tabindex="-1"> < </a>
          </li>
          {% for page in 1..knp_pagination.pageCount %}
          <li class="page-item {% if page == knp_pagination.currentPageNumber %}active{% endif %}">
            <a class="page-link" href="{{ path('app_reclamation_archivees', {'page': page }) }}">{{ page }}</a>
          </li>
          {% endfor %}
          <li class="page-item {% if knp_pagination.currentPageNumber == knp_pagination.pageCount %}disabled{% endif %}">
            <a class="page-link" href="{{ path('app_reclamation_archivees', {'page': knp_pagination.currentPageNumber + 1 }) }}"> > </a>
          </li>
        </ul>
    </nav>
    <!-- End Pagination -->
    <div class="row">
    
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <h4 class="card-title">Statistiques des statut des réclamations</h4>
                    <canvas id="statutChart" style="height: 124px; display: block; width: 248px;" width="496" height="248" class="chartjs-render-monitor"></canvas>
                  </div>
                </div>
                
              </div>
              
                <!-- JavaScript pour afficher la pie chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var statutData = {
                labels: [
                    {% for statut, count in statistiques.statutrec %}
                        '{{ statut }}',
                    {% endfor %}
                ],
                datasets: [{
                    data: [
                        {% for statut, count in statistiques.statutrec %}
                            {{ count }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)', // Rouge pour Fermée
                       'rgba(75, 192, 192, 0.6)', // Bleu pour Resolue
                        'rgba(255, 206, 86, 0.6)', // Jaune pour En Cours
                        
                         
                        
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 206, 86, 1)',
                        
                        
                        
                    ],
                    borderWidth: 1
                }]
            };

            var statutCtx = document.getElementById('statutChart').getContext('2d');
            var statutChart = new Chart(statutCtx, {
                type: 'pie',
                data: statutData,
            });
        });
    </script>

              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <h4 class="card-title">Statistiques des catégories de réclamations</h4>
                    <canvas id="categorieChart" style="height: 124px; display: block; width: 248px;" width="496" height="248" class="chartjs-render-monitor"></canvas>
                  </div>
                </div>
              </div>
            </div>
    <!-- JavaScript pour afficher l'histogramme des catégories de réclamations -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var categorieData = {
            labels: [
                {% for categorie, count in statistiques.categorierec %}
                    '{{ categorie }}',
                {% endfor %}
            ],
            datasets: [{
                label: 'Nombre de réclamations par catégorie',
                data: [
                    {% for categorie, count in statistiques.categorierec %}
                        {{ count }},
                    {% endfor %}
                ],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.6)',  // Bleu ciel
                    'rgba(255, 99, 132, 0.6)',  // rouge
                    'rgba(255, 206, 86, 0.6)'      // Jaune
                ], // Couleur des barres
                borderColor: [
                    'rgba(173, 216, 230, 1)',    // Bleu ciel
                    'rgba(255, 182, 193, 1)',    // Rose
                    'rgba(255, 255, 0, 1)'       // Jaune
                ], // Couleur de la bordure des barres
                borderWidth: 1
            }]
        };

        var categorieCtx = document.getElementById('categorieChart').getContext('2d');
        var categorieChart = new Chart(categorieCtx, {
            type: 'bar', // Utilisation d'un histogramme (bar chart)
            data: categorieData,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>

   
<!-- Affichage des statistiques -->
<div class="card mt-4">
    <div class="card-body">
        <h2 class="card-title" style="color: red;">Consignes Pour Améliorer Les Statistiques : </h2>
        <ul>
            <li>Minimiser les incidents techniques : Ils représentent une grande partie des réclamations.</li>
            <li>Optimiser le service à la clientèle : Même si les plaintes sont moins nombreuses, l'optimisation est cruciale.</li>
            <li>Évaluer les produits : Malgré le faible nombre de plaintes, une réévaluation régulière est bénéfique.</li>
        </ul>
    </div>
</div>

<script>
function handleChange(select) {
    var selectedOption = select.value;
    if (selectedOption !== "") {
        var triBack = "";
        var order = "";

        switch (selectedOption) {
            case "date_asc":
                triBack = "date";
                order = "asc";
                break;
            case "date_desc":
                triBack = "date";
                order = "desc";
                break;
            case "categorie_asc":
                triBack = "categorie";
                order = "asc";
                break;
            case "categorie_desc":
                triBack = "categorie";
                order = "desc";
                break;
            case "statut_asc":
                triBack = "statut";
                order = "asc";
                break;
            case "statut_desc":
                triBack = "statut";
                order = "desc";
                break;
            default:
                break;
        }

        // Redirection vers la route avec les paramètres de tri
        window.location.href = "{{ path('app_reclamation_archivees') }}" + "?triBack=" + triBack + "&order=" + order;
    }
}
</script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var searchInput = document.getElementById('searchInput');
    var tabv = document.getElementById('tabv');
    var searchResults = document.getElementById('searchResults');
    var tableHead = tabv.querySelector('thead').outerHTML;

    searchInput.addEventListener('input', function() {
        var searchTerm = searchInput.value.trim().toLowerCase();
        var matchedReserv = [];

        // Sélectionnez toutes les lignes du tableau
        var rows = tabv.querySelectorAll('tbody tr');

        rows.forEach(function(row) {
            var prenom = row.querySelector('td:first-child').textContent.toLowerCase();
            var nom = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
            var statut = row.querySelector('td:nth-child(6)').textContent.toLowerCase();
            if (prenom.includes(searchTerm) || nom.includes(searchTerm)|| statut.includes(searchTerm)) {
                matchedReserv.push(row.outerHTML);
            }
        });

        // Affichez les résultats de la recherche avec la classe de table appropriée
        if (matchedReserv.length > 0) {
            searchResults.innerHTML = '<table class="table table-striped">' + tableHead + '<tbody>' + matchedReserv.join('') + '</tbody></table>';
        } else {
            // Supprimez le contenu de la zone d'affichage des résultats s'il n'y a aucun résultat trouvé
            searchResults.innerHTML = '';
        }
    });
});

</script>
{% endblock %}