{% extends 'base.html.twig' %}

{% block title %}Index des réclamations{% endblock %}

{% block body %}
   
    <h1>Liste des réclamations</h1>

<!-- Affichage de la blague aléatoire -->
    <div id="randomJoke" style="text-align: right;"> <!-- Alignement à droite -->
        <h2 style="color: red;">Blague aléatoire :</h2> <!-- Couleur rouge -->
        <button onclick="getRandomJoke()">Générer une blague</button>

              <p>{{ joke }}</p>
    </div>

 <a href="{{ path('app_reclamation_new') }}">Créer une nouvelle Réclamation</a>
 <div class="tri-dropdown">
    <select onchange="handleChange(this)">
        <option value="">Trier par...</option>
        <option value="date_asc">Date Ascendant</option>
        <option value="date_desc">Date Descendant</option>
        <option value="categorie_asc">Catégorie Ascendant</option>
        <option value="categorie_desc">Catégorie Descendant</option>
        <option value="statut_asc">Statut Ascendant</option>
        <option value="statut_desc">Statut Descendant</option>
    </select>
</div>



{# TRADUCTION #}
    <style>
        #google_translate_element {
            display: inline-block;
            margin-bottom: 10px;
            padding: 10px;
            box-shadow: inset 0 0 0 0 var(--bs-primary);
            border: 1px solid #8B0000;
            border-radius: 4px;
            font-family: Arial, sans-serif;
        }

        #google_translate_element:hover {
            cursor: pointer;
            opacity: 0.9;
            box-shadow: inset 0 0 0 0 var(--bs-primary);
        }
        #google_translate_element {
            transition: opacity 0.3s ease-in-out;
        }

    </style>
  <div id="google_translate_element" style="float: right;"></div> <!-- Alignement à droite -->
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    </script>
    {# TRADUCTION #}
<section class="people04 cid-u76D6GhCcM" id="testimonials-4-u76D6GhCcM">
          <div class="container">
              
              <div class="row mbr-masonry" data-masonry="{&quot;percentPosition&quot;: true }">
              {% for reclamation in reclamations %}
                  <div class="item features-without-image col-12 col-md-6 col-lg-4 active animate__animated animate__delay-1s animate__fadeIn">
                      <div class="item-wrapper reclamation-card">
                          <div class="card-box align-left">
                              
                              <div class="img-wrapper mt-4 mb-3">
                                <img src="/FrontOffice/images/photo-1615572359976-1fe39507ed7b.jpeg" data-slide-to="0" data-bs-slide-to="0">

                              </div>
                              <h5 class="card-title mbr-fonts-style display-7">
                                  <strong>{{ reclamation.idU.prenomUser }} {{ reclamation.idU.nomUser }}</strong>
                              </h5>
                              <p class="card-text mbr-fonts-style display-7">
                                 <strong>Description :</strong>  {{ reclamation.descrirec }}<br>
                                 <strong>Catégorie :</strong> {{ reclamation.categorierec }}<br>
                                 <strong>Statut :</strong> {% if reclamation.statutrec == 'En Cours' %}
                            <label class="badge badge-warning">{{ reclamation.statutrec }}</label>
                                {% elseif reclamation.statutrec == 'Fermée' %}
                                    <label class="badge badge-danger">{{ reclamation.statutrec }}</label>
                                {% elseif reclamation.statutrec == 'Resolue' %}
                                    <label class="badge badge-success">{{ reclamation.statutrec }}</label>
                                {% endif %}<br>
                                 <strong>Date :</strong> {{ reclamation.daterec ? reclamation.daterec|date('Y-m-d') : '' }}
                              </p>
                          </div>
                          <a href="{{ path('app_reclamation_show', {'idrec': reclamation.idrec}) }}">voir</a>
                          <a href="{{ path('app_reclamation_edit', {'idrec': reclamation.idrec}) }}">modifier</a>
                          <a href="{{ path('app_commentaire_index', {'idcom': reclamation.idrec}) }}">commenter</a>
                      </div>
                      
                  </div>
                  
                {% endfor %}
              </div>
          </div>
      </section>
          
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item {% if knp_pagination.currentPageNumber == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path('app_reclamation_index', {'page': knp_pagination.currentPageNumber - 1 }) }}" tabindex="-1"> < </a>
          </li>
          {% for page in 1..knp_pagination.pageCount %}
          <li class="page-item {% if page == knp_pagination.currentPageNumber %}active{% endif %}">
            <a class="page-link" href="{{ path('app_reclamation_index', {'page': page }) }}">{{ page }}</a>
          </li>
          {% endfor %}
          <li class="page-item {% if knp_pagination.currentPageNumber == knp_pagination.pageCount %}disabled{% endif %}">
            <a class="page-link" href="{{ path('app_reclamation_index', {'page': knp_pagination.currentPageNumber + 1 }) }}"> > </a>
          </li>
        </ul>
    </nav>
<script>
function handleChange(select) {
    var selectedOption = select.value;
    if (selectedOption !== "") {
        var tri = "";
        var order = "";

        switch (selectedOption) {
            case "date_asc":
                tri = "date";
                order = "asc";
                break;
            case "date_desc":
                tri = "date";
                order = "desc";
                break;
            case "categorie_asc":
                tri = "categorie";
                order = "asc";
                break;
            case "categorie_desc":
                tri = "categorie";
                order = "desc";
                break;
            case "statut_asc":
                tri = "statut";
                order = "asc";
                break;
            case "statut_desc":
                tri = "statut";
                order = "desc";
                break;
            default:
                break;
        }

        // Redirection vers la route avec les paramètres de tri
        window.location.href = "{{ path('app_reclamation_index') }}" + "?tri=" + tri + "&order=" + order;
    }
}
function getRandomJoke() {
    // Faites une requête à l'API Chuck Norris Jokes pour obtenir une blague aléatoire
    fetch('https://api.chucknorris.io/jokes/random')
    .then(response => response.json())
    .then(data => {
        // Mettez à jour l'élément HTML avec la blague récupérée
        document.getElementById('randomJoke').innerHTML += '<p>' + data.value + '</p>';
    })
    // Supprimez la gestion de l'erreur pour permettre à l'utilisateur de continuer à cliquer
    // sans afficher d'erreur en cas d'échec de la récupération de la blague
}


</script>

     {% endblock %}