
    
{{ form_start(form) }}
    {#{{ form_widget(form) }}#}
     <div class="row">
        {% for child in form %}
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(child) }}
                    {{ form_widget(child, {'attr': {'class': 'form-control'}}) }}

                    {# Affichage des erreurs associées à chaque champ #}
                    {% if child.vars.errors|length > 0 %}
                        <div class="alert alert-danger">
                            {% for error in child.vars.errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                       {# Affichage de l'image actuelle juste en dessous du champ image #}
                    {% if child.vars.name == 'image' %}
                        {% if oeuvre.image %}
                            <p>Image actuelle : {{ oeuvre.image }}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="btn btn-block btn-lg btn-gradient-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
