{% extends 'base2.html.twig' %}



{% block afficheroeuvre %}
    


    <table class="table">
        <thead>
            <tr>
               
                <th>NomOeuvre</th>
                <th>CategorieOeuvre</th>
                <th>PrixOeuvre</th>
                <th>Datecreation</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oeuvre in oeuvres %}
            <tr>
                <td>
    <a href="{{ path('app_oeuvre_avis', {'idOeuvre': oeuvre.idOeuvre}) }}">{{ oeuvre.nomOeuvre }}</a>
</td>

                <td>{{ oeuvre.categorieOeuvre }}</td>
                <td>{{ oeuvre.prixOeuvre }}</td>
                <td>{{ oeuvre.datecreation ? oeuvre.datecreation|date('Y-m-d') : '' }}</td>
                <td>{{ oeuvre.description }}</td>
                <td><img src="{{ path('user_images', {'imageName': oeuvre.image}) }}" alt="{{ oeuvre.nomOeuvre }}" class="oeuvre-image" style="width: 300px; height: 200px;"></td>
                <td>
                    <a href="{{ path('app_oeuvre_show', {'idOeuvre': oeuvre.idOeuvre}) }}">show</a>
                    <a href="{{ path('app_oeuvre_edit', {'idOeuvre': oeuvre.idOeuvre}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_oeuvre_new') }}">Create new</a>
{% endblock %}
