{% extends 'base2.html.twig' %}

{% block title %}Index des commentaires{% endblock %}

{% block body %}
    <h1>Index des commentaires</h1>
   <div class="tri-dropdown">
    <select onchange="handleChange(this)">
        <option value="">Trier par...</option>
        <option value="date_asc">Date Ascendant</option>
        <option value="date_desc">Date Descendant</option>
        <option value="description_asc">Description Ascendant</option>
        <option value="description_desc">Description Descendant</option>
        <option value="contenucom_asc">Contenu commentaire Ascendant</option>
        <option value="contenucom_desc">Contenu commentaire Descendant</option>
    </select>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Description de la Reclamation</th>
                <th>Contenu du Commentaire</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.idrec.idu.prenomUser }}</td>
                <td>{{ commentaire.idrec.idu.nomUser }}</td>
                <td>{{ commentaire.idrec.descrirec }}</td>
                <td>{{ commentaire.contenucom }}</td>
                <td>{{ commentaire.datecom ? commentaire.datecom|date('Y-m-d') : '' }}</td>
                
                <td>
                    <a href="{{ path('app_commentaire_showBack', {'idcom': commentaire.idcom}) }}">Voir</a>
                    <a href="{{ path('app_commentaire_editBack', {'idcom': commentaire.idcom}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commentaire_newBack') }}">Créer un nouveau commentaire</a>
        
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item {% if knp_pagination.currentPageNumber == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path('app_commentaire_indexBack', {'page': knp_pagination.currentPageNumber - 1 }) }}" tabindex="-1"> < </a>
          </li>
          {% for page in 1..knp_pagination.pageCount %}
          <li class="page-item {% if page == knp_pagination.currentPageNumber %}active{% endif %}">
            <a class="page-link" href="{{ path('app_commentaire_indexBack', {'page': page }) }}">{{ page }}</a>
          </li>
          {% endfor %}
          <li class="page-item {% if knp_pagination.currentPageNumber == knp_pagination.pageCount %}disabled{% endif %}">
            <a class="page-link" href="{{ path('app_commentaire_indexBack', {'page': knp_pagination.currentPageNumber + 1 }) }}"> > </a>
          </li>
        </ul>
    </nav>

   <script>
function handleChange(select) {
    var selectedOption = select.value;
    if (selectedOption !== "") {
        var triBack = "";
        var order = "";

        switch (selectedOption) {
            case "date_asc":
                triBack = "date";
                order = "asc";
                break;
            case "date_desc":
                triBack = "date";
                order = "desc";
                break;
            case "description_asc":
                triBack  = "description";
                order = "asc";
                break;
            case "description_desc":
                triBack  = "description";
                order = "desc";
                break;
            case "contenucom_asc":
                triBack  = "contenucom";
                order = "asc";
                break;
            case "contenucom_desc":
                triBack  = "contenucom";
                order = "desc";
                break;
            default:
                break;
        }

        // Redirection vers la route avec les paramètres de tri
        window.location.href = "{{ path('app_commentaire_indexBack') }}" + "?triBack=" + triBack  + "&order=" + order;
    }
}
</script>

{% endblock %}
