{% extends 'navfootclient.html.twig' %}

{% block login %}
<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>

              {{ form_errors(registrationForm) }}

{{ form_start(registrationForm, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate', 'id': 'registration-form'}}) }}
                <div class="form-group">
                  {{ form_label(registrationForm.email, null, {'label_attr': {'class': 'form-label'}}) }}
                  {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                  {{ form_errors(registrationForm.email) }}
                </div>
                <div class="form-group">
                  {{ form_label(registrationForm.plainPassword, 'Password', {'label_attr': {'class': 'form-label'}}) }}
                  {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                  {{ form_errors(registrationForm.plainPassword) }}
                </div>
                 <div class="form-group">
                  {{ form_label(registrationForm.nomUser, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                  {{ form_widget(registrationForm.nomUser, {'attr': {'class': 'form-control'}}) }}
                  {{ form_errors(registrationForm.nomUser) }}
                </div>
                <div class="form-group">
                  {{ form_label(registrationForm.prenomUser, 'Prenom', {'label_attr': {'class': 'form-label'}}) }}
                  {{ form_widget(registrationForm.prenomUser, {'attr': {'class': 'form-control'}}) }}
                  {{ form_errors(registrationForm.prenomUser) }}
                </div>
                  <div class="form-group">
                  {{ form_label(registrationForm.numTel, 'Numéro de téléphone', {'label_attr': {'class': 'form-label'}}) }}
                  {{ form_widget(registrationForm.numTel, {'attr': {'class': 'form-control'}}) }}
                  {{ form_errors(registrationForm.numTel) }}
                </div>
                <div class="form-group">
                  {{ form_label(registrationForm.image, 'Image', {'label_attr': {'class': 'form-label'}}) }}
                  {{ form_widget(registrationForm.image, {'attr': {'class': 'form-control-file'}}) }}
                  {{ form_errors(registrationForm.image) }}
                </div>
                <div class="form-group">
                  {{ form_label(registrationForm.role, 'Role', {'label_attr': {'class': 'form-label'}}) }}
                  {{ form_widget(registrationForm.role, {'attr': {'class': 'form-check-input'}}) }}
                  {{ form_errors(registrationForm.role) }}
                </div> 
                  <div class="form-group">
                  {{ form_label(registrationForm.sexe, 'sexe', {'label_attr': {'class': 'form-label'}}) }}
                  {{ form_widget(registrationForm.sexe, {'attr': {'class': 'form-check-input'}}) }}
                  {{ form_errors(registrationForm.sexe) }}
                </div> 
                <br>
                <br>
                <div class="form-group">
    {{ form_label(registrationForm.recaptcha, null, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(registrationForm.recaptcha, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(registrationForm.recaptcha) }}
                </div>
 

<br> 

                <br>
                <br>
                <div class="form-group form-check">
                  {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                  {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
                  {{ form_errors(registrationForm.agreeTerms) }}
                </div>
             <button type="submit" class="btn btn-primary">Register</button>

              {{ form_end(registrationForm) }}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
document.getElementById('registration-form').addEventListener('submit', function(event) {
    var recaptchaResponse = grecaptcha.getResponse();
    if (recaptchaResponse.length == 0) {
        event.preventDefault();
        alert('Please solve the reCAPTCHA.');
    }
});
</script>

{% endblock %}
