{% extends 'base2.html.twig' %}

{% block title %}Artiste index{% endblock %}

{% block body %}
    <h1>Artiste*
     index</h1>
     {% for user in users %}
    <div class="user">
        <h2>{{ user.nomUser }}</h2>
        <img src="{{ asset('user_images/' ~ user.image) }}" alt="User image">
        <!-- other user details here -->
    </div>
{% endfor %}


    <table class="table">
        <thead>
            <tr>
                <th>NomUser</th>
                <th>PrenomUser</th>
                <th>Email</th>
                <th>Mdp</th>
                <th>NumTel</th>
                <th>DateDeNaissance</th>
                <th>Cartepro</th>
                <th>Status</th>
                <th>Sexe</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.role == 'Artiste' %}
                <tr>
                    <td>{{ user.nomUser }}</td>
                    <td>{{ user.prenomUser }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mdp }}</td>
                    <td>{{ user.numTel }}</td>
                    <td>{{ user.dateDeNaissance ? user.dateDeNaissance|date('Y-m-d') : '' }}</td>
                    <td>{{ user.cartepro }}</td>
                    <td>{{ user.status }}</td>
                    <td>{{ user.sexe }}</td>
                    <td>{{ user.image }}</td>
                    <td>
                        <a href="{{ path('app_user_show', {'idUser': user.idUser}) }}">show</a>
                        <a href="{{ path('app_user_edit', {'idUser': user.idUser}) }}">edit</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="11">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
