{% extends 'nav_foot_client.html.twig' %} 
{% block title %}Exposition Display{% endblock %}
{% block content %}
<div class="container mt-100">
    <div class="container mt-100 text-center">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <input type="text" id="search-input" onkeyup="search()" class="form-control form-control-sm" placeholder="Rechercher par nom" style="font-size: 0.8rem;">
              </div>
              
              
              
          <div class="col-md-3">
            <!-- Menu déroulant compact de tri -->
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="themeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded=false>
                Choisir un thème
              </button>
              <div class="dropdown-menu" aria-labelledby="themeDropdown">
                <a class="dropdown-item" href="#">Peinture à l'huile</a>
                <a class="dropdown-item" href="#">Photographie contemporaine</a>
                <a class="dropdown-item" href="#">Sculptures abstraites</a>
                <a class="dropdown-item" href="#">Art numérique</a>
                <a class="dropdown-item" href="#">Art moderne</a>
                <a class="dropdown-item" href="#">Street Art</a>
                <a class="dropdown-item" href="#">Portraits contemporains</a>
                <a class="dropdown-item" href="#">Art fantastique</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      
<br>      
    <div id="expositions" class="row">
        {% if expositions|length > 0 %}
            {% for exposition in expositions %}
                <div class="col-md-4 col-sm-6 mb-30">
                    <div class="card h-100 d-flex flex-column">
                        <a class="card-img-tiles" href="#" data-abc="true">
                            <div class="inner">
                                <div class="main-img">
                                    {% if exposition.image %}
                                        <img src="{{ path('user_images', {'imageName': exposition.image}) }}" alt="{{ exposition.nom }}" class="exposition-image" style="width: 100%; height: auto;">
                                    {% else %}
                                        <img src="placeholder.jpg" alt="Placeholder Image" class="exposition-image" style="width: 100%; height: auto;">
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        <div class="card-body text-center d-flex flex-column">
                            <h4 class="card-title">{{ exposition.nom }}</h4>
                            <p class="text-muted">
                                <br>Theme: {{ exposition.theme }} <br>
                                {% if exposition.dateDebut %}
                                    Date debut  {{ exposition.dateDebut|date('Y-m-d ')}}   <br>
                                {% endif %}
                                {% if exposition.dateFin %}
                                    Date fin {{ exposition.dateFin|date('Y-m-d ') }}
                                {% endif %} <br>
                            </p>
                            <div class="mt-auto">
                                <a href="{{ path('app_client_show', {'idExposition': exposition.idExposition}) }}" 
                                   class="btn item-btn btn-primary display-7">Voir Détails</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No records found</p>
        {% endif %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item {% if knp_pagination.currentPageNumber == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path('app_client_getallExpo', {'page': knp_pagination.currentPageNumber - 1 }) }}" tabindex="-1"> < </a>
          </li>
          {% for page in 1..knp_pagination.pageCount %}
          <li class="page-item {% if page == knp_pagination.currentPageNumber %}active{% endif %}">
            <a class="page-link" href="{{ path('app_client_getallExpo', {'page': page }) }}">{{ page }}</a>
          </li>
          {% endfor %}
          <li class="page-item {% if knp_pagination.currentPageNumber == knp_pagination.pageCount %}disabled{% endif %}">
            <a class="page-link" href="{{ path('app_client_getallExpo', {'page': knp_pagination.currentPageNumber + 1 }) }}"> > </a>
          </li>
        </ul>
    </nav>
</div>
<script>
    function search() {
        let query = document.getElementById('search-input').value;
        fetch(`/client/search?q=${query}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.text())
        .then(data => {
            let div = document.getElementById('expositions');
            div.innerHTML = data;
        })
        .catch(error => console.error('Error:', error));
    }
    
</script>    
{% endblock %}

