  {% block title %}Search Results{% endblock %}

{% block content %}

    <div class="container mt-100">
        {% if expositions|length > 0 %}
            {% for exposition in expositions %}
                <div class="col-md-4 col-sm-6 mb-30">
                    <div class="card h-100 d-flex flex-column">
                        <a class="card-img-tiles" href="#" data-abc="true">
                            <div class="inner">
                                <div class="main-img">
                                    {% if exposition.image %}
                                        <img src="{{ path('user_images', {'imageName': exposition.image}) }}" alt="{{ exposition.nom }}" class="exposition-image" style="width: 100%; height: auto;">
                                    {% else %}
                                        <img src="placeholder.jpg" alt="Placeholder Image" class="exposition-image" style="width: 100%; height: auto;">
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        <div class="card-body text-center d-flex flex-column">
                            <h4 class="card-title">{{ exposition.nom }}</h4>
                            <p class="text-muted">
                                <br>Theme: {{ exposition.theme }} <br>

                                {% if exposition.dateDebut %}
                                    Date debut  {{ exposition.dateDebut|date('Y-m-d ')}}à  {{ exposition.heureDebut|date('H:i') }} <br>
                                {% endif %}
                                {% if exposition.dateFin %}
                                    Date fin {{ exposition.dateFin|date('Y-m-d ') }}à  {{ exposition.heureFin|date('H:i') }}
                                {% endif %}
                            </p>
                            <div class="mt-auto">  <a href="{{ path('app_client_show', {'idExposition': exposition.idExposition}) }}" 
                                   class="btn item-btn btn-primary display-7">Voir Détails</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No results found for your search.</p>
        {% endif %}
    </div>
{% endblock %}
