<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Détails de la réservation</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #fafafa;
    }

    .container {
      max-width: 600px;
      margin: 50px auto;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
      padding: 40px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }

    .header h2 {
      font-size: 26px;
      margin: 0;
      color: #333;
      text-transform: uppercase;
    }

    .details {
      font-size: 18px;
      line-height: 1.6;
      color: #666;
    }

    .details span {
      font-weight: bold;
      color: #333;
    }

    ul {
      padding-left: 20px;
    }

    ul li {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h2>Détails de la réservation</h2>
    </div>
    <p class="details">Cher(e) <span>{{ reservation.user.nomUser }}</span> <span>{{ reservation.user.prenomUser }}</span>,</p>
    <p class="details">Nous sommes heureux de vous informer que votre réservation pour l'exposition "<span>{{ reservation.exposition.nom }}</span>" a été confirmée.</p>
    <ul class="details">
      <li>Nombre de billets: <span>{{ reservation.ticketsNumber }}</span></li>
      <li>Date de début: <span>{{ reservation.exposition.dateDebut|date('d-m-Y') }}</span></li>
      <li>Date de fin: <span>{{ reservation.exposition.dateFin|date('d-m-Y') }}</span></li>
      <li>Heure: De <span>{{ reservation.exposition.heureDebut|date('H:i') }}</span> à <span>{{ reservation.exposition.heureFin|date('H:i') }}</span></li>
    </ul>
    <p class="details">Nous avons hâte de vous accueillir à la galerie !</p>
    <p class="details">Cordialement,</p>
    <p class="details">L'équipe de la galerie</p>
  </div>
  <div class="container">
    <img src="data:image/jpeg;base64,{{ imageData }}" alt="My Image">
  </div>
</body>

</html>