

{% extends 'base.html.twig' %} 

{% block title %}Exposition Display{% endblock %}

{% block expoclient %}
<section class="features03 cid-u76D6GfSIP" id="events-1-u76D6GfSIP">
    <div class="container-fluid">
        <div class="row justify-content-between mb-5">
            <div class="col-12 content-head">
                <div class="mbr-section-head">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Expositions à Venir</strong>
                    </h4>
                </div>
            </div>
            <div class="col-auto">
                <a href="{{ path('app_client_getallExpo') }}" class="btn btn-primary">Voir toutes les expositions</a>
            </div>
        </div>
        </div>
        <div class="row flex-nowrap overflow-auto">
            {% for exposition in expositions %}
            <div class="item features-image col-md-6 col-lg-3 active">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        {% if exposition.image %}
                        <img src="{{ path('user_images', {'imageName': exposition.image}) }}" alt="{{ exposition.nom }}" style="width: 300px; height: 400px;">                    {% else %}
                        <!-- Handle the case where there is no image -->
                    {% endif %}                    </div>
                    <div class="item-content align-left">
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-5">
                            <strong><a class="text-black fw-bold" href="#">{{ exposition.nom }}</a></strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-3 display-7">{{  exposition.theme }}</p>
                       
                        <div class="mbr-section-btn item-footer">
                            <a href="{{ path('app_client_show', {'idExposition': exposition.idExposition}) }}" class="btn item-btn btn-primary display-7">Détails</a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <p>No records found</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}


