{% extends 'nav_foot_admin.html.twig' %} 

{% block title %}Exposition index{% endblock %}

{% block index_expo %}

<div class="container mt-100">


    <div class="row mb-3">
        <div class="col-6">
            <!-- Search input field -->
            <input type="text" class="form-control" id="searchInput" placeholder="Rechercher expositions...">
        </div>
        <div class="col-6 text-end">
            <a href="{{ path('app_exposition_new') }}" class="btn btn-primary">Ajouter exposition</a>
        </div>
    </div>
    
    <div class="row d-flex">
        {% for exposition in expositions %}
        <div class="col-md-4 col-sm-6 d-flex">
            <div class="card mb-30 flex-fill">
                <a class="card-img-tiles" href="#" data-abc="true">
                    <div class="inner">
                        <div class="main-img">
                            {% if exposition.image %}
                            <img src="{{ path('user_images', {'imageName': exposition.image}) }}" alt="{{ exposition.nom }}" class="exposition-image" style="width: 100%; height: auto;">
                            {% else %}
                            <!-- Placeholder image or handle the case where the image is not set -->
                            {% endif %}
                        </div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">{{ exposition.nom }}</h4>
                    <p class="text-muted">
                        {% if exposition.theme %}
                        <br>Theme: {{ exposition.theme }}
                        {% endif %}
                        {% if exposition.dateDebut and exposition.heureDebut %}
                        <br>Date de début: {{ exposition.dateDebut|date('Y-m-d') }} à {{ exposition.heureDebut|date('H:i') }}
                    {% endif %}
                    {% if exposition.dateFin and exposition.heureFin %}
                        <br>Date de fin: {{ exposition.dateFin|date('Y-m-d') }} à {{ exposition.heureFin|date('H:i') }}
                    {% endif %}
                    
            
       
                        
                    </p>
                    <div>
                        <a class="btn btn-outline-primary btn-sm" href="{{ path('app_exposition_show', {'idExposition': exposition.idExposition}) }}">Détails</a>
                        <a class="btn btn-outline-primary btn-sm" href="{{ path('app_exposition_edit', {'idExposition': exposition.idExposition}) }}">Modifier</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col">
            <p>No records found</p>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item {% if knp_pagination.currentPageNumber == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path('app_exposition_index', {'page': knp_pagination.currentPageNumber - 1 }) }}" tabindex="-1"> < </a>
          </li>
          {% for page in 1..knp_pagination.pageCount %}
          <li class="page-item {% if page == knp_pagination.currentPageNumber %}active{% endif %}">
            <a class="page-link" href="{{ path('app_exposition_index', {'page': page }) }}">{{ page }}</a>
          </li>
          {% endfor %}
          <li class="page-item {% if knp_pagination.currentPageNumber == knp_pagination.pageCount %}disabled{% endif %}">
            <a class="page-link" href="{{ path('app_exposition_index', {'page': knp_pagination.currentPageNumber + 1 }) }}"> > </a>
          </li>
        </ul>
    </nav>
</div>

{% endblock %}
