{# user/_form.html.twig #}

{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="form-group">
        {{ form_label(form.nomUser, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.nomUser, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nomUser) }}
    </div>
    <div class="form-group">
        {{ form_label(form.prenomUser, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.prenomUser, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.prenomUser) }}
    </div>
    <div class="form-group">
        {{ form_label(form.email, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="form-group">
        {{ form_label(form.numTel, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.numTel, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.numTel) }}
    </div>
    <div class="form-group">
        {{ form_label(form.dateDeNaissance, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.dateDeNaissance, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.dateDeNaissance) }}
    </div>
    <div class="form-group">
        {{ form_label(form.sexe, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.sexe, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.sexe) }}
    </div>
    <div class="form-group">
        {{ form_label(form.image, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.image) }}
    </div>
    {# Ajoutez d'autres champs de formulaire de la même manière #}
    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
