{% extends 'nav_foot_client.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <style>
        /* Styles pour définir la taille maximale des images */
        .img-fluid {
            max-width: 400px; /* Définissez la largeur maximale souhaitée */
            max-height: 400px; /* Définissez la hauteur maximale souhaitée */
        }
              /* Styles pour les boutons "like" et "dislike" */
.liked {
    color: green; /* Couleur verte pour le bouton "like" */
}

.disliked {
    color: red; /* Couleur rouge pour le bouton "dislike" */
}
    </style>
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
    <script>
    // Fonction pour afficher une boîte de dialogue de confirmation avant la suppression
    function confirmDelete(idAvis) {
        if (confirm("Voulez-vous vraiment supprimer cet avis?")) {
            // Si l'utilisateur confirme, soumettez le formulaire de suppression
            document.getElementById('delete-form-' + idAvis).submit();
        } else {
            // Sinon, ne faites rien
            return false;
        }
    }
</script>
{% endblock %}

{% block addavis %}
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="{{ imageUrl }}" alt="Image de l'œuvre" class="img-fluid">
              <button class="btn like-button " id="like-button" ><i class="bi bi-hand-thumbs-up"></i> Like</button>
              <button class="btn dislike-button " id="dislike-button" ><i class="bi bi-hand-thumbs-down"></i> Dislike</button>
              <div>
              <a href="https://twitter.com/intent/tweet?text={{ 'Regardez cette image de l\'œuvre ' ~ nomOeuvre | url_encode }}&url={{ imageUrl | url_encode }}" target="_blank" class="btn btn-primary">Tweet</a>
              </div>
        </div>
        <div class="col-md-6">
            <h1>Exprimez vous</h1>
            {{ include('avis/_form.html.twig') }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Les avis de nos clients</h2>
            <ul class="list-group">
                {% for avis in avis %}
                    <li class="list-group-item">
                      
                        <strong>Client :</strong> {{ avis.user.nomUser }} {{ avis.user.prenomUser }}<br>
                        <strong>Commentaire :</strong> {{ avis.commentaire }}<br>
                        <strong>Note :</strong> {{ avis.note|rating }}<br>
                        {% if userId == avis.user.idUser %}
                            <a href="{{ path('app_avis_edit', {'idAvis': avis.idAvis}) }}" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <button class="btn btn-danger" onclick="confirmDelete({{ avis.idAvis }})">
                                <i class="bi bi-trash"></i>
                            </button>
                            <form id="delete-form-{{ avis.idAvis }}" action="{{ path('app_avis_delete', {'idAvis': avis.idAvis}) }}" method="post" style="display: none;">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avis.idAvis) }}">
                            </form>
                        {% endif %}
                    </li>
                {% else %}
                    <li class="list-group-item">Aucun avis disponible pour le moment.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    var oeuvreId = "{{ idOeuvre }}"; // Utilisez l'ID de l'œuvre de votre contrôleur Symfony
    var userId = "{{ userId }}"; // Utilisez l'ID de l'utilisateur de votre contrôleur Symfony
    var likeButton = document.getElementById('like-button');
    var dislikeButton = document.getElementById('dislike-button');

    // Récupérer l'état des boutons de localStorage
    if (localStorage.getItem('likeClicked-' + oeuvreId + '-' + userId) === 'true') {
        likeButton.classList.add('liked');
    }
    if (localStorage.getItem('dislikeClicked-' + oeuvreId + '-' + userId) === 'true') {
        dislikeButton.classList.add('disliked');
    }

    likeButton.addEventListener('click', function() {
        if (dislikeButton.classList.contains('disliked')) {
            dislikeButton.classList.remove('disliked');
            // Réinitialiser l'état du bouton "dislike" dans localStorage
            localStorage.setItem('dislikeClicked-' + oeuvreId + '-' + userId, 'false');
        }
        this.classList.toggle('liked');
        // Mettre à jour l'état du bouton "like" dans localStorage
        localStorage.setItem('likeClicked-' + oeuvreId + '-' + userId, this.classList.contains('liked'));
    });

    dislikeButton.addEventListener('click', function() {
        if (likeButton.classList.contains('liked')) {
            likeButton.classList.remove('liked');
            // Réinitialiser l'état du bouton "like" dans localStorage
            localStorage.setItem('likeClicked-' + oeuvreId + '-' + userId, 'false');
        }
        this.classList.toggle('disliked');
        // Mettre à jour l'état du bouton "dislike" dans localStorage
        localStorage.setItem('dislikeClicked-' + oeuvreId + '-' + userId, this.classList.contains('disliked'));
    });
});


</script>
    
{% endblock %}
  
