<style>
    /* Style for the button */
    .btn {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
        transition: background-color 0.3s ease;
    }

    /* Hover effect */
    .btn:hover {
        background-color: #45a049; /* Darker green */
    }
<</style>

{{ form_start(form, {'attr': {'class': 'form'}}) }}
    {{ form_row(form.titreCours, {'attr': {'class': 'form-control', 'placeholder': 'Titre du cours'}}) }}
    {% if not form.titreCours.vars.valid %}
         <div style="color: red; font-size: 25px;">
                {% for error in form.titreCours.vars.errors %}
                    {{ error.message }}
                {% endfor %}
            </div>
    {% endif %}    
    
    {{ form_row(form.descriCours, {'attr': {'class': 'form-control', 'placeholder': 'Description du cours'}}) }}
    
   {{ form_row(form.datedebutCours, {'attr': {'class': 'form-control'}}) }}
{% if not form.datedebutCours.vars.valid %}
    <div style="color: red; font-size: 25px;">
                {% for error in form.datedebutCours.vars.errors %}
                    {{ error.message }}
                {% endfor %}
            </div>
{% endif %}

    
  {{ form_row(form.datefinCours, {'attr': {'class': 'form-control'}}) }}
{% if not form.datefinCours.vars.valid %}
   <div style="color: red; font-size: 25px;">
                {% for error in form.datefinCours.vars.errors %}
                    {{ error.message }}
                {% endfor %}
            </div>
{% endif %}

    
    {{ form_row(form.user, {'attr': {'class': 'form-control'}}) }}
    
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}