{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1 class="mb-4">Cours index</h1>
                            <a href="{{ path('app_cours_fav') }}" class="btn btn-info mr-2">Afficher la liste favoris</a>

    <div class="row">
        {% for cour in cours %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ cour.titreCours }}</h5>
                        <p class="card-text">{{ cour.descriCours }}</p>
                        <ul class="list-unstyled">
                            <li><strong>Date de début :</strong> {{ cour.datedebutCours ? cour.datedebutCours|date('Y-m-d') : 'Non spécifiée' }}</li>
                            <li><strong>Date de fin :</strong> {{ cour.datefinCours ? cour.datefinCours|date('Y-m-d') : 'Non spécifiée' }}</li>
                        </ul>
                        <div class="mt-3">
                            <a href="{{ path('app_cours_show', {'idCours': cour.idCours}) }}" class="btn btn-info mr-2">Afficher</a>
                            <button onclick="addToFavorites({{ cour.idCours }})" class="btn btn-primary">Ajouter aux favoris</button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col">
                <p>Aucun enregistrement trouvé.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function addToFavorites(courseId) {
            let favorites = JSON.parse(localStorage.getItem('favorites')) || [];
            
            if (favorites.includes(courseId)) {
                alert('Ce cours est déjà dans vos favoris.');
            } else {
                favorites.push(courseId);
                localStorage.setItem('favorites', JSON.stringify(favorites));
                alert('Cours ajouté aux favoris !');
            }
        }
    </script>
{% endblock %}
